# Byte-compiled / optimized / DLL files
__pycache__/
.venv
**/*/.venv

# Dependency directories
node_modules
**/*/node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Application files and folders
**/*/vectorStore
